.card {
    position: relative;
    width: 15rem;
    height: 25rem;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    padding: 20px;

    border: 12px solid whitesmoke;
}

.gap {
    height: 1rem;
}

.card {
    width: 240px;
    height: 53vh;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border: 12px solid whitesmoke;
}

.card-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.card-header {
    text-align: center;
    margin-bottom: 10px;
}

.card-header h3 {
    margin: 0;
    font-size: 1.5rem;
}

.card-header hr {
    margin: 5px 0;
    border: 0;
    height: 1px;
    background: #000;
}

.card-header p {
    margin: 0;
    font-size: 1rem;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-body li {
    font-size: 0.9rem;
    margin: 5px 0;
}

.prices-gap {
    height: 20px;
}

.prices p {
    font-size: 0.9rem;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.prices span:first-child {
    text-align: left;
}

.prices span:last-child {
    text-align: right;
}

.card-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}